[ON_BOARD_SENSORS]
temp_humidity_sensor: Yes
air_pressure_sensor: Yes
co2_sensor: No

[TEMP_HUMIDITY_SENSOR]
type: 11
gpio_no: 4

[AIR_PRESSURE_SENSOR]
I2C_address: 0x76
port_no:1


[READ_CYCLE]
read_time: 120

#temp format: C for Celsius, F for Fahrenheit, default is C
#air pressure format: hPa or inchHg for inchHg, default is hPa
[FORMAT]
temperature = F
#temperature = C
airpressure = hPa

